/* generales */
* {
    font-family: 'Roboto', sans-serif;
}

.texto-destacar {
    font-weight: bold;
}

/* nav */
    /* brand */
    .brand-h1 {
        display: inline-block;
        font-family: 'Alkatra', cursive;
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .brand-i {
        font-size: 1.5rem;
    }

    .navbar-brand {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.3em;
    }

    /* modal nav */
    .modal-body-post {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5em;
    }

    #captionInput {
        resize: none;
    }

    .postInput {
        display: flex;
        gap: 0.5rem;
    }

    .pictureInput {
        width: 1;
        height: 1;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
    }

    .postInputElement {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 26px;
        height: 26px;

        font-size: 1rem;
        padding: 1rem;

        background-color: lightgrey;
        border: 0;

        cursor: pointer;
    }

    .pictureInputContainer {
        position: relative;
    }


    /* preview */
    .preview p {
        margin-bottom: 0;
        color: red;
    }

    .preview ul {
        margin-bottom: 0;
    }

    .preview img {
        width: 5em;
        object-fit: cover;
        object-position: center;
    }

    .preview ul li {
        list-style: none;
    }

    .preview ul {
        display: flex;
        flex-flow: row wrap;
        justify-items: flex-start;
        align-items: center;
        gap: 0.5em;
        width: 100%;

    }

    .opciones {
        display: flex;
        gap: 0.5em;
    }

    /* Dropdown */
    .dropdown-menu .dropdown-item:active {
        background-color: grey;
    }

    .dropdown-menu .dropdown-item-logout:hover {
        background-color: rgb(238, 164, 164);
    }

    .dropdown-menu .dropdown-item-logout:active {
        background-color: rgb(236, 101, 101);
    }

/* body */
/* cambio de layout */


/*contenido*/
.contenido {
    width: 500px;
}

.layoutCambiar {
    display: flex;
    justify-content: center;
    align-items: center;
}